# compiled source
# ---------------
*.com
*.class
*.dll
*.exe
*.o
*.so 
*.html
#
# backup files 
# ---------------
*.bak
*.*~
#
# explicit files
# ---------------
household_power_consumption.txt
.Rhistory
.RData
*.rds

